*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --ff-primary: 'Poppins', sans-serif;
  --main-text-color: #303030;

  --hue: 194;
  --primary-color: hsl(var(--hue), 100%, 63%);
}

body{
  color: var(--main-text-color);
}

body *{
  font-family: var(--ff-primary);
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  overflow: hidden;
  border-width: 0;
}

#app{
  max-width: 600px;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
}

#app header{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

header h1{
  font-size: 1rem;
}

.search{
  display: flex;
  align-items: center;
  width: 60%;
}

.search input{
  border-radius: .4rem 0 0 .4rem;
  height: 1.8rem;
  padding: 0 .8rem;
  border: solid 1px #ccc;
  width: 90%;
}

.search button{
  background-color: var(--primary-color);
  border-radius: 0 .4rem .4rem 0;
  height: 1.8rem;
  border: none;
  padding: 0 1rem;
}

table{
  width: 100%;
  border: .7px solid #ccc;
  border-collapse: collapse;
  margin-top: 2rem;
}

table thead{
  background-color: var(--primary-color);
  border-collapse: collapse;
}

table th{
  padding: 1rem 0;
  font-weight: 600;
}

table td{
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
}

table img{
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}

th:first-child, th:last-child{
  border-radius: 1rem;
}

tbody tr:nth-child(odd){
  background-color: whitesmoke;
}

.user{
  display: flex;
  align-items: center;
}

.user a{
  text-decoration: none;
  color: inherit;
  margin-left: .6rem;
}

@media (max-width: 500px){
  table th{
    font-size: .8rem;
  }
}